.news-card {
  background: var(--light-gray);
  position: relative;
  min-height: 478px;
  display: flex;
  flex-direction: column;

  @include tablet{
    min-height: 420px;
  }

  &__title {
    color: var(--dark);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 18px;
  }

  &__link {
    color: var(--accent);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    &::after{
      content: "";
      position: absolute;
      inset: 0;
    }
  }

  &__date {
    color: var(--gray);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__inner {
    flex-grow: 1;
    padding: 16px 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
.news{
  padding-bottom: 80px;

  &__item{
    grid-column: 4 span;
  }
  &__list{
    @include small-tablet{
      row-gap: 16px;
    }
  }
}
