.start {
  &__top {
    margin-bottom: 32px;
  }

  &__title {
    grid-column: 6 span;
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    color: var(--dark);
    margin: 0;
    @include tablet {
      font-size: 48px;
    }
    @include small-tablet {
      grid-column: 4 span;
      font-size: 40px;
    }
  }

  &__description {
    margin: 0;
    grid-column: 4 span;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--dark);
    padding-top: 24px;
    @include tablet {
      padding-top: 16px;
      grid-column: 6 span;
    }
    @include small-tablet {
      grid-column: 4 span;
    }
  }
}
